html, body {
  margin: 0;
}

@media (min-width: 600px) {
  header {
    height: 100vh;
  }
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 5em;
  font-family: archivo;
}
